<h1>The Payday Hound</h1>
<p>Visit <%= link_to('The Payday Hound', "http://www.thepaydayhound.com/") %>, for industry leading reviews and analysis on payday loans. secured cards and pre-paid cards.</p>

<p>The page is no longer active.</p>